* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

.link,
.btn {
    text-decoration: none;
    border: none;
    background: transparent;
    outline: none;
    color: #000;
    cursor: pointer;
}

.top-bar {
    background: linear-gradient(180deg, rgba(211, 211, 211, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), #3f3f3f;
    .container {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            color: #fff;
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 400;
            line-height: 150%;
            gap: 8px;
        }
        p {
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
        }
    }
}

.header {
    .navbar {
        padding: 7px 0;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__list {
            display: flex;
            align-items: center;
            gap: 30px;
            list-style: none;
        }
        &__link {
            text-decoration: none;
            font-size: 14px;
        }
        .search {
            width: 400px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            .top {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .line {
                width: 100%;
                height: 1px;
                background: #333;
            }
            &__input {
                width: 274.838px;
                border: none;
                font-size: 14px;
                line-height: 150%;
                outline: none;
                &::placeholder {
                    color: #867777;
                }
            }
            &__btns {
                display: flex;
                align-items: center;
                gap: 15px;
            }
        }
        .account {
            display: flex;
            gap: 13px;
            > * {
                width: 30.211px;
                height: 30.211px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 9999px;
                background: #3baeab;
            }
        }
        .mobile__menu {
            font-size: 18px;
            display: none;
        }
    }
    .catalog {
        padding: 11px 0;
        background: #f5f5f5;
        &__list {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 65px;
            overflow-x: auto;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        &__link {
            font-size: 15px;
            line-height: 150%;
            color: #333;
            word-break: keep-all;
            white-space: nowrap;
            text-align: center;
        }
    }
}

.breadcrumb {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #867777;
    font-size: 13px;
    font-weight: 400;
}

.product {
    .container {
        display: flex;
    }
    .images {
        width: 555px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        &__large {
            width: 100%;
            height: 411px;
            border: 1px solid var(--Opacity-1, #f7eeec);
            position: relative;
            img {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__small {
            cursor: pointer;
            width: 98px;
            height: 98px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            &.active {
                border: 1px solid var(--Red-gradient, #e11c43);
            }
        }
    }
    .details {
        padding-left: 30px;
        .title {
            font-weight: 500;
            font-size: 36px;
        }
        .rating {
            margin: 9px 0;
            display: flex;
            align-items: center;
            .stars {
                letter-spacing: -100px;
            }
            &__point {
                margin-left: 10px;
                margin-right: 25px;
            }
            .rating__count {
                margin-right: 25px;
            }
            span {
                color: #867777;
                font-size: 15px;
            }
        }
        .price {
            &__title {
                color: #867777;
                font-size: 19px;
                font-weight: 500;
            }
            &__content {
                color: #333;
                font-size: 24px;
                font-weight: 500;
                margin-top: 15px;
                margin-bottom: 24px;
            }
        }
        .btn {
            background: #e11c43;
            color: #fff;
            padding: 18px 32px;
            border-radius: 100px;
            font-size: 17px;
            font-weight: 700;
            letter-spacing: 0.5px;
            border: 2px solid #e11c43;
            transition: all 0.3s ease;
            &:hover,
            &:focus {
                background: transparent;
                color: #e11c43;
            }
        }
        .comments__title {
            color: #333;
            font-size: 15px;
            font-weight: 600;
            margin-top: 33px;
            margin-bottom: 10px;
        }
        .comments {
            li {
                margin-left: 23.5px;
                color: var(--Dark, #333);
                font-size: 15px;
                font-weight: 400;
                line-height: 150%;
            }
        }
    }
}

.product-details {
    margin-top: 70px;
    .container {
        max-width: 1033px;
        display: flex;
        flex-direction: column;
        gap: 70px;
    }
    &__btns {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        .btn {
            width: 49%;
            padding: 18px 32px;
            border: 1px solid #f4e5e2;
            font-size: 19px;
            font-weight: 600;
            color: #867777;
            transition: all 0.3s ease;
            &.active,
            &:hover,
            &:focus {
                border-color: #e11c43;
                color: #333;
            }
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 50px;
        .title {
            color: #333;
            font-size: 19px;
            font-weight: 400;
        }
        .small {
            display: flex;
            gap: 25px;
            .items-left,
            .items-right {
                display: flex;
                flex-direction: column;
                gap: 10px;
                span {
                    font-size: 15px;
                }
            }
            .items-left {
                width: 313px;
                span {
                    font-weight: 400;
                }
            }
            .items-right {
                font-weight: 600;
            }
        }
        .large {
            .title {
                font-size: 19px;
                font-weight: 600;
            }
            .items {
                line-height: 30px;
                margin-top: 10px;
                margin-bottom: 127px;
                display: flex;
                gap: 25px;
                .items-left,
                .items-right {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    span {
                        font-size: 15px;
                    }
                }
                .items-left {
                    width: 313px;
                    span {
                        font-weight: 400;
                    }
                }
                .items-right {
                    font-weight: 600;
                }
            }
        }
    }
}

.ads-bar {
    background: url("../images/bottom-bg.png") no-repeat;
    background-size: cover;
    background-position: center;
    height: 266px;
    .container {
        height: 100%;
        color: #18a7a7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        .title {
            font-size: 36px;
            font-weight: 700;
            text-align: center;
            line-height: 100%;
        }
        .btn {
            background: #18a7a7;
            color: #fff;
            font-size: 17px;
            font-weight: 700;
            letter-spacing: 0.32px;
            padding: 18px 32px;
            border-radius: 3px;
            border: 2px solid #18a7a7;
            transition: all 0.3s ease;
            &:hover,
            &:focus {
                background: transparent;
                color: #18a7a7;
            }
        }
    }
}

.ads-banner {
    width: 100%;
    height: 100.33003px;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }
}

@media screen and (max-width: 1100px) {
    .header {
        .navbar {
            .search {
                width: 300px;
                &__input {
                    width: 80%;
                }
            }
        }
        .catalog {
            &__list {
                gap: 55px;
            }
            &__link {
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .header {
        .navbar {
            .search {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 920px) {
    .product {
        .container {
            flex-direction: column;
            .images {
                width: 100%;
                height: 500px;
                flex-direction: row-reverse;
                margin-bottom: 50px;
                &__large {
                    height: 100%;
                }
                &__list {
                    flex-direction: column;
                    height: 100%;
                }
            }
            .details {
                .title {
                    font-size: 30px;
                }
                .btn {
                    font-size: 16px;
                    padding: 14px 26px;
                }
            }
        }
    }

    .product-details {
        &__btns {
            .btn {
                font-size: 17px;
            }
        }
    }
}

@media screen and (max-width: 660px) {
    .top-bar {
        .container {
            justify-content: center;
            span {
                svg {
                    width: 18px;
                    height: 24px;
                }
                font-size: 18px;
            }
            p {
                display: none;
            }
        }
    }
    .header {
        .navbar {
            .search {
                display: none;
            }
            &__list {
                display: none;
            }
            .account {
                display: none;
            }
            .mobile__menu {
                display: block;
            }
        }
    }

    .ads-bar {
        .container {
            .title {
                font-size: 24px;
            }
            .btn {
                font-size: 14px;
                padding: 10px 20px;
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .product {
        .container {
            .images {
                width: 100%;
                height: 300px;
                &__large {
                }
                &__list {
                    width: 126px;
                    height: 100%;
                    overflow-y: auto;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
            .details {
                .title {
                }
                .btn {
                }
            }
        }
    }

    .product-details {
        &__btns {
            flex-direction: column;
            .btn {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .product {
        .container {
            .images {
                width: 100%;
                height: 500px;
                flex-direction: column-reverse;
                &__large {
                }
                &__list {
                    flex-direction: row;
                    height: 100px;
                    width: 100%;
                    overflow-y: auto;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
            .details {
                .title {
                    font-size: 18px;
                }
                .rating {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    gap: 10px;
                    margin-bottom: 20px;
                    * {
                        margin: 0;
                    }
                }
                .btn {
                    font-size: 14px;
                    padding: 10px 18px;
                    font-weight: 500;
                }
            }
        }
    }
}
